{% extends 'base.html.twig' %}

{% block title 'Tous nos événements' %}

{% block body %}

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">Tous les événements du moment</h1>
            <hr class="my-4">
            <p class="lead">Rejoignez un événement pour tester une nouvelle activité ou partager vos passions.</p>
            <p class="lead">
                <a class="btn btn-info btn-lg" href="#events" role="button">En voir plus</a>
        </div>
    </div>
    <div class="container" id="events">
        <div class="row flex">
            {% for event in properties %}
                <div class="col-md-4">
                    {% include 'events/_event.html.twig' %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
