{% extends 'base.html.twig' %}

{% block title 'Tous nos groupes' %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">Tous les groupes du moment</h1>
            <hr class="my-4">
            <p class="lead">Trouvez tous les groupes Meetup et rejoignez des Meetups sur ce thème !</p>
            <p class="lead">
                <a class="btn btn-info btn-lg" href="#groups" role="button">En voir plus</a>
        </div>
    </div>
    <div class="container" id="groups">
        <div class="row flex">
            {% for team in properties %}
                <div class="col-md-4">
                    {% include 'teams/_team.html.twig' %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
